@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=VT323&display=swap');
#confetti{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.Title{
    margin-top: 10rem;
    margin-left: 25rem;
    font-size: 70px;
    font-family: 'VT323', monospace;
    letter-spacing: 1rem;
}

.subtitle{
    font-size: 40px;
    margin-left: 36rem;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1rem;

}
.hiddenStuff{
    display: flex;
    flex-direction: row;
}
#hidden3
{
    margin-top: 0rem;
    z-index:5;
}

#hidden2{
    margin-left: 70%;
    margin-top: 0;
    z-index:5;
}
#hidden1{
    margin-top: 15rem;
    z-index:5;

}
.hidden{
    color: white;
    font-size: 2em;

}


.hidden:hover{
    color: cadetblue;
}

a{
    text-decoration: none;
    color: white;
}